# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.next/
out/

# Environment
.env
.env.local
.env.*.local
.secrets.env

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Prisma
apps/backend/prisma/migrations/dev.db

# AWS Cli
aws/
awscliv2.zip
infra/aws-resources.env
infra/.secrets.env
infra/event-platform-key.pem
apps/backend/.env
